<div class="card" style="width: 18rem;">
  <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
  <div class="card-body">
    <a href="/beers/beer-i3f4d34s34b">{{name}}</a>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{tagline}}</p>
  </div>
</div>