<div class="containerRondomBeer">
    <h4>Random Beers</h4>
    <p>
        <!--
        <img class ="randomBeer" src=" {{randomBeer.image_url}}" alt="{{randomBeer.name}}" width="100px">
        {{randomBeer.name}}
        {{randomBeer.description}}
        {{randomBeer.tagline}}
        {{randomBeer.food_pairing}}
        {{randomBeer.brewers_tips}}
        -->


       {{> beerpartial randomBeer }}

    </p>
</div>